/*
    note: 第二页样式
    rewrite: zxThree
*/

.pageThree {
    text-align: center;
    width: 100%;
}

.mainforp3 {
    position: absolute; 
    left: 50%; 
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.1);
    /* float: left; */
    padding: 50px;
    /* border: 1px solid #000; */
}

.righttitleforp3 {
    position: absolute;
    top: 50px;
    right: 50px;
}